#### Importing the data

In [1]:
import pandas as pd
data = pd.read_csv(r'C:\Users\marcu\Desktop\MACHINE_LEARNING\DATABASES\LOS_ANGELES_TRAFFIC_COLLISION_DATASET\traffic-collision-data-from-2010-to-present.csv')
data

,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,...,Premise Description,Address,Cross Street,Location,Zip Codes,Census Tracts,Precinct Boundaries,LA Specific Plans,Council Districts,Neighborhood Councils (Certified)
0,191323054,2019-11-30T00:00:00.000,2019-11-30T00:00:00.000,130,13,Newton,1385,997,TRAFFIC COLLISION,NaN,...,STREET,SAN PEDRO ST,SLAUSON AV,"{'longitude': '-118.2696', 'human_address': '{...",22352.0,786.0,858.0,7.0,13.0,46.0
1,192020666,2019-11-30T00:00:00.000,2019-11-30T00:00:00.000,15,20,Olympic,2054,997,TRAFFIC COLLISION,NaN,...,STREET,OLYMPIC BL,KINGSLEY AV,"{'longitude': '-118.3031', 'human_address': '{...",22723.0,617.0,646.0,NaN,12.0,89.0
2,191616992,2019-11-30T00:00:00.000,2019-11-30T00:00:00.000,230,16,Foothill,1669,997,TRAFFIC COLLISION,NaN,...,STREET,TUJUNGA CANYON BL,LA TUNA CANYON RD,"{'longitude': '-118.2704', 'human_address': '{...",3222.0,5.0,227.0,NaN,1.0,7.0
3,191824082,2019-11-30T00:00:00.000,2019-11-30T00:00:00.000,730,18,Southeast,1802,997,TRAFFIC COLLISION,0605,...,STREET,88TH ST,MAIN ST,"{'longitude': '-118.2739', 'human_address': '{...",22352.0,800.0,358.0,7.0,14.0,45.0
4,191616980,2019-11-30T00:00:00.000,2019-11-30T00:00:00.000,720,16,Foothill,1689,997,TRAFFIC COLLISION,NaN,...,STREET,CROCKETT,SUNLAND,"{'longitude': '-118.3703', 'human_address': '{...",19335.0,166.0,272.0,NaN,3.0,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502853,100604050,2010-01-01T00:00:00.000,2010-01-01T00:00:00.000,335,6,Hollywood,637,997,TRAFFIC COLLISION,NaN,...,STREET,HOLLYWOOD BL,GOWER ST,"{'longitude': '-118.3224', 'human_address': '{...",23446.0,427.0,573.0,NaN,8.0,64.0
502854,101404164,2010-01-03T00:00:00.000,2010-01-01T00:00:00.000,1900,14,Pacific,1437,997,TRAFFIC COLLISION,1501,...,STREET,VENICE BL,SEPULVEDA,"{'longitude': '-118.4172', 'human_address': '{...",23451.0,896.0,1239.0,NaN,6.0,74.0
502855,101204051,2010-01-01T00:00:00.000,2010-01-01T00:00:00.000,900,12,77th Street,1259,997,TRAFFIC COLLISION,NaN,...,STREET,AVALON BL,75TH ST,"{'longitude': '-118.2652', 'human_address': '{...",22352.0,790.0,998.0,7.0,13.0,46.0
502856,100304221,2010-01-05T00:00:00.000,2010-01-01T00:00:00.000,245,3,Southwest,378,997,TRAFFIC COLLISION,0605,...,STREET,FIGUEROA,39TH ST,"{'longitude': '-118.2827', 'human_address': '{...",23668.0,727.0,977.0,7.0,13.0,32.0
502857,101804056,2010-01-02T00:00:00.000,2010-01-01T00:00:00.000,2100,18,Southeast,1822,997,TRAFFIC COLLISION,NaN,...,STREET,FIGUEROA ST,CENTURY BL,"{'longitude': '-118.2826', 'human_address': '{...",22352.0,803.0,1165.0,7.0,14.0,45.0

In [3]:
data.shape

(502858, 24)

In [6]:
area_encode = pd.get_dummies(data['Area Name'])
area_encode

,77th Street,Central,Devonshire,Foothill,Harbor,Hollenbeck,Hollywood,Mission,N Hollywood,Newton,...,Olympic,Pacific,Rampart,Southeast,Southwest,Topanga,Van Nuys,West LA,West Valley,Wilshire
0,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502853,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
502854,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
502855,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
502856,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
502857,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [5]:
area_encode

,77th Street,Central,Devonshire,Foothill,Harbor,Hollenbeck,Hollywood,Mission,N Hollywood,Newton,...,Olympic,Pacific,Rampart,Southeast,Southwest,Topanga,Van Nuys,West LA,West Valley,Wilshire
0,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502853,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
502854,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
502855,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
502856,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
502857,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [7]:
data02 = pd.concat([data, area_encode], axis =1)
data02.drop('Area Name', axis = 1, inplace = True)

In [9]:
pd.set_option('display.max_columns', 45)
data02.head()

,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Reporting District,Crime Code,Crime Code Description,MO Codes,Victim Age,Victim Sex,Victim Descent,Premise Code,Premise Description,Address,Cross Street,Location,Zip Codes,Census Tracts,Precinct Boundaries,LA Specific Plans,Council Districts,Neighborhood Councils (Certified),77th Street,Central,Devonshire,Foothill,Harbor,Hollenbeck,Hollywood,Mission,N Hollywood,Newton,Northeast,Olympic,Pacific,Rampart,Southeast,Southwest,Topanga,Van Nuys,West LA,West Valley,Wilshire
0,191323054,2019-11-30T00:00:00.000,2019-11-30T00:00:00.000,130,13,1385,997,TRAFFIC COLLISION,NaN,NaN,F,H,101.0,STREET,SAN PEDRO ST,SLAUSON AV,"{'longitude': '-118.2696', 'human_address': '{...",22352.0,786.0,858.0,7.0,13.0,46.0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
1,192020666,2019-11-30T00:00:00.000,2019-11-30T00:00:00.000,15,20,2054,997,TRAFFIC COLLISION,NaN,40.0,M,W,101.0,STREET,OLYMPIC BL,KINGSLEY AV,"{'longitude': '-118.3031', 'human_address': '{...",22723.0,617.0,646.0,NaN,12.0,89.0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
2,191616992,2019-11-30T00:00:00.000,2019-11-30T00:00:00.000,230,16,1669,997,TRAFFIC COLLISION,NaN,18.0,M,W,101.0,STREET,TUJUNGA CANYON BL,LA TUNA CANYON RD,"{'longitude': '-118.2704', 'human_address': '{...",3222.0,5.0,227.0,NaN,1.0,7.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,191824082,2019-11-30T00:00:00.000,2019-11-30T00:00:00.000,730,18,1802,997,TRAFFIC COLLISION,0605,23.0,M,H,101.0,STREET,88TH ST,MAIN ST,"{'longitude': '-118.2739', 'human_address': '{...",22352.0,800.0,358.0,7.0,14.0,45.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
4,191616980,2019-11-30T00:00:00.000,2019-11-30T00:00:00.000,720,16,1689,997,TRAFFIC COLLISION,NaN,NaN,M,H,101.0,STREET,CROCKETT,SUNLAND,"{'longitude': '-118.3703', 'human_address': '{...",19335.0,166.0,272.0,NaN,3.0,21.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

### Documentation

https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html